.container {
  font-family: sans-serif;
  display: grid;
  grid-auto-columns: minmax(auto, auto);
  grid-auto-rows: minmax(auto, auto);
  grid-template-areas:
    "hd"
    "main"
    "ft";
}

.header {
  grid-area: hd;
}

.footer {
  grid-area: ft;
  color: white;
  background-color: #333;
  padding: 10px 0;
  text-align: center;
}

.content {
  grid-area: main;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  height: 50px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 20px;
}

.navbar-container a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.blog-post {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: space-evenly;
  padding: 10px;
  text-align: left;
}

.blog-post h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  margin: 10px;
}

.blog-post h1 {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;
  margin: 10px;
}

.blog-post-col {
  display: flex;
  background-color: #333;
  color: white;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  text-align: left;
  border-radius: 5px;
}

.blog-post-row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-right: 20px;
  align-items: center;
  padding: 10px;
  text-align: left;
  row-gap: 30px;
}

img {
  max-width: 100px;
  max-height: 200px;
}

.blog-post-row h1 {
  width: 250px;
}

p {
  padding: 10px;
}