.nested-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-items: center;
    grid-gap: 6px;
    align-content: space-evenly;
    padding: 10px;
}

.blog-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: none;
    width: 200px;
    height: 350px;
    border-radius: 5px;
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 14px 16px;
    text-align: center;
}

.card-body {
    padding: 10px;
}

.card-body p {
    font-size: 1rem;
    margin: 0;
    line-height: 1.5;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}