@import url("cards.css");
@import url("posts.css");
@import url("images.css");

.container {
  font-family: sans-serif;
  display: grid;
  grid-auto-columns: minmax(auto, auto);
  grid-auto-rows: minmax(auto, auto);
  grid-template-areas:
    "hd"
    "sd"
    "main"
    "ft";
}

header {
  grid-area: hd;
}

footer {
  grid-area: ft;
  color: white;
  background-color: #333;
  padding: 10px 0;
  text-align: center;
}

.sidebar {
  grid-area: sd;
}

.content {
  grid-area: main;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  height: 50px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 20px;
}

.navbar-container a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.sidebar-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #616161;
}

.sidebar-container ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar-container a {
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

@media (min-width: 426px) and (max-width:800px) {
  .container {
    font-family: sans-serif;
    display: grid;
    grid-auto-columns: minmax(auto, auto);
    grid-auto-rows: minmax(auto, auto);
    grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "sd main main main main main main main"
      "ft ft ft ft ft ft ft ft";
  }
}

@media (min-width:801px) {
  .container {
    font-family: sans-serif;
    display: grid;
    grid-auto-columns: minmax(auto, auto);
    grid-auto-rows: minmax(auto, auto);
    grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "sd sd main main main main main main"
      "ft ft ft ft ft ft ft ft";
  }
}

